body {
  font-family: 'Merriweather', serif;
}

img {
  max-width: 100%;
}

.feature-bg {
  background: rgba(255, 255, 255, .3);
  width: 100vw;
  border-radius: 10px;
}

.feature-text {
  font-size: 2rem;
  line-height: 4rem;
}

.header_img {
  min-height: 25vh;
}

.card {
  margin-bottom: 20px;
}


/* Welcome Section */

.card-text {
  font-size: 1.2rem;
}


/* Price list Section */
.title {
  color: goldenrod;
}

.list-group-item {
  background: none;
  font-size: 1.1em;;
}

@media screen and (min-width: 768px) {
  .feature-bg {
    width: 60vw;
  }

  span {
    position: absolute;
    background: rgba(175, 169, 169, .6);
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 100%;
    top: -40px;
    left: -40px;
    margin-left: 50%;
  }
  
  .card {
    margin-bottom: 0;
  }
}