body {
  font-family: 'Merriweather', serif;
}

img {
  max-width: 100%;
}

.feature-bg {
  background: rgba(255, 255, 255, .3);
  width: 100vw;
  border-radius: 10px;
}

.feature-text {
  font-size: 2rem;
  line-height: 4rem;
}

.header_img {
  min-height: 25vh;
}


/* Welcome Section */

.card-text {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .feature-bg {
    width: 60vw;
  }
}